
.leftdiv{
    position:absolute;width:22%;left:1%;top:10.5%;height:87%;flex-direction: column;
    display: flex;margin-bottom: 20px;
}
.rightdiv{
    position:absolute;width:22%;right:1%;top:10.5%;height:87%;
    flex-direction: column;display: flex;margin-bottom: 20px;
}
.sheetstyle{
    margin:5px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: url("../../assets/er/images/panel.png");
    background-size: 100% 100%;
}
.mainview{
    width: 100%;
    height: 95%;
}
